:root {
  --clr-primary-cyan-400: hsl(179, 62%, 43%);
  --clr-primary-cyan-200: hsl(179, 47%, 52%);
  --clr-primary-yellow: hsl(71, 73%, 54%);
  --clr-neutral-light: hsl(204, 43%, 93%);
  --clr-neutral-dark: hsl(218, 22%, 67%);
  --fs-smaller: .875rem;
  --fs-small: .9375rem;
  --fs-medium: 1rem;
  --fs-large: 1.125rem;
  --fs-larger: 1.25rem;
  --fs-x-large: 2rem;
  --ff-regular: "Karla", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: var(--clr-neutral-light);
  font-family: var(--ff-regular);
  font-size: var(--fs-medium);
  letter-spacing: -0.01em;
  line-height: normal;
}

h1 {
  font-size: var(--fs-larger);
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

h3 {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  line-height: 1.333em;
  margin-bottom: 1rem;
}

.small {
  font-size: var(--fs-smaller);
  font-weight: var(--fw-regular);
  line-height: 1.8571em;
}

div {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.opacity {
  opacity: 0.7;
}

.container {
  border-radius: 0.5rem;
  box-shadow: 0 0 4rem -1rem rgba(0, 0, 0, 0.32);
  display: grid;
  margin: 0 auto;
  max-width: min(100vw - 4rem, 40rem);
  overflow: hidden;
}

.container > div:not(:first-child) {
  padding-bottom: 1.5rem;
  padding-top: 1.75rem;
}

.hero {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hero h1 {
  color: var(--clr-primary-cyan-400);
}
.hero h3 {
  color: var(--clr-primary-yellow);
}
.hero p {
  color: var(--clr-neutral-dark);
}

.subscription {
  background-color: var(--clr-primary-cyan-400);
  color: white;
}
.subscription p {
  color: var(--clr-neutral-light);
  font-weight: var(--fw-regular);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.subscription p b {
  font-size: var(--fs-x-large);
  margin-right: 0.75rem;
}
.subscription button {
  align-items: center;
  background-color: var(--clr-primary-yellow);
  border: none;
  border-radius: 0.25rem;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}

.why-us {
  background-color: var(--clr-primary-cyan-200);
  color: white;
}
.why-us li {
  line-height: 1.4285em;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=index.css.map */
