body {
  background-color: var(--clr-neutral-light);
  display: grid;
  font-family: var(--ff-regular);
  font-size: var(--fs-medium);
  letter-spacing: -0.01em;
  line-height: normal;
  place-items: center;
}

h1 {
  font-size: var(--fs-larger);
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

h3 {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  line-height: 1.333em;
  margin-bottom: 1rem;
}

.small {
  font-size: var(--fs-smaller);
  font-weight: var(--fw-regular);
  line-height: 1.8571em;
}

div {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
