:root {
  --clr-primary-cyan: hsl(179, 62%, 43%);
  --clr-primary-yellow: hsl(71, 73%, 54%);
  --clr-neutral-light: hsl(204, 43%, 93%);
  --clr-neutral-dark: hsl(218, 22%, 67%);

  --fs-normal: 1rem;
  --ff-regular: 'Karla', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}